[submodule "spechunter"]
	path = spechunter
	url = https://github.com/yizishun/spechunter.git
[submodule "spec_ref/riscv-isa-manual"]
	path = spec_ref/riscv-isa-manual
	url = https://github.com/riscv/riscv-isa-manual.git
[submodule "spec_ref/riscv-fast-interrupt"]
	path = spec_ref/riscv-fast-interrupt
	url = https://github.com/riscv/riscv-fast-interrupt.git
[submodule "spec_ref/riscv-cheri"]
	path = spec_ref/riscv-cheri
	url = https://github.com/riscv/riscv-cheri.git
